@import "./base.scss";

.landing-background {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
	box-sizing: border-box;
	// padding: 75vh 0% 0% 5vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 10vw 5vw;
}

.landing-title {
	margin: 0;
	backdrop-filter: blur(14px);
	background-color: $purple2;
	font-weight: 900;
	box-shadow: 0 0 6px 0 transparentize($color: $purple2, $amount: 0.4);
	padding: 12px;
}

.landing-paragraph {
	backdrop-filter: blur(14px);
	background-color: $purple2;
	color: $purple0;
	font-weight: 500;
	box-shadow: 0 0 6px 0 transparentize($color: $purple2, $amount: 0.4);
	padding: 12px;
}

.landing-child-container {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
